<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
  <header>
    <div class="container">
    <h1 class ="logo">Forum for everyone</h1>
    {% if current_user.is_authenticated %}
    <p>
    Logged in as {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in</a> or <a href="{{ url_for('auth_registration') }}">Create user</a>
    {% endif %}
    
  </header>
    <ul class="menu">
      <li><a href="{{ url_for('threads_index') }}">Show threads</a></li>
      <li><a href="{{ url_for('threads_form') }}">Add a thread</a></li>
    </ul>
  </div>
    <div class="container">
    {% block content %}
    {% endblock %}
    <div>
    </body>
</html>