{% extends "listlayout.html" %}


{% block blocker %}

  <div class="page header">
    <h1> Results </h1>
    
    <br>

  </div>

  <form method="GET" action="{{ url_for('customsearch_open') }}">
    <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">New Custom search</button>
  </div>
  </form>

  <form method="GET" action="{{ url_for('threads_index') }}">
    <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2">Show all</button>
  </div>
  </form>

  
{% endblock %}