{% extends "layout.html" %}
  
{% block content %}
<p>Previous title: {{ thread.title }} </p>
<pr></pr>

  

<form method="POST" action="{{ url_for('threads_confirmedit', thread_id=thread.id) }}">
    <div>
    <ul>
      {% for error in form.title.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    </div>


    <p> {{ form.title.label }} {{ form.title }}</p>
    <button type="submit" >Edit title</button>    

    <div>
      <p></p>
  </form>

  <form method="POST" action="{{ url_for('threads_delete', thread_id=thread.id) }}">
    
    <button type="submit">Delete Thread</button>
  </form>
  </div>


{% endblock %}