{% extends "layout.html" %}
  
{% block content %}
<p>Previous title: {{ thread.title }} </p>
<pr></pr>

  

<form method="POST" action="{{ url_for('threads_confirm_title_edit', thread_id=thread.id) }}">
  <div class="form-group">
    
    <label> {{ titleform.title.label }}</label>
    {{ titleform.title(class="form-control", placeholder="Enter new thread title here") }}
    
    <div class="invalid-feedback d-block">
      <ul>
        {% for error in titleform.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <button type="submit" class="btn btn-warning mb-2">Edit title</button>  
    </div>
  </form>

  <form method="POST" action="{{ url_for('threads_confirm_description_edit', thread_id=thread.id)}}">
    <div class="form-group">
      <p>Previous description: </p>
      <p>{{thread.description}}</p>
      <label> {{ descform.description.label }}</label>
      {{ descform.description(class="form-control", placeholder="Enter new description here") }}
      
      <div class="invalid-feedback d-block">
        <ul>
          {% for error in descform.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <button type="submit" class="btn btn-warning mb-2">Edit description</button>  
      </div>

    </form>
      

    
      
  <div>
  <form method="POST" action="{{ url_for('threads_delete', thread_id=thread.id) }}">
    
    <button type="submit" class="btn btn-danger">Delete Thread</button>
  </form>
  </div>


{% endblock %}