{% extends "layout.html" %}
  
{% block content %}
<h1>Edit your thread</h1>
<h2>Here you can edit your thread title or description or add a new category to it</h2>
<h3>Title</h3>
<p>Previous title: {{ thread.title }} </p>
<pr></pr>

  

<form method="POST" action="{{ url_for('threads_confirm_title_edit', thread_id=thread.id) }}">
  <div class="form-group">
    
    <label> {{ titleform.title.label }}</label>
    {{ titleform.title(class="form-control", placeholder="Enter new thread title here") }}
    
    <div class="invalid-feedback d-block">
      <ul>
        {% for error in titleform.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
    <button type="submit" class="btn btn-warning mb-2">Edit title</button>  
    </div>
  </form>
  <h3>Description</h3>
  <form method="POST" action="{{ url_for('threads_confirm_description_edit', thread_id=thread.id)}}">
    <div class="form-group">
      <p>Previous description: </p>
      <p>{{thread.description}}</p>
      <label> {{ descform.description.label }}</label>
      {{ descform.description(class="form-control", placeholder="Enter new description here") }}
      
      <div class="invalid-feedback d-block">
        <ul>
          {% for error in descform.description.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      <button type="submit" class="btn btn-warning mb-2">Edit description</button>  
      </div>
    </form>
    <h3>New category</h3>
    <form method="POST" action="{{ url_for('threads_add_new_category', thread_id=thread.id)}}">
      <div class="form-group">
        <label>Add a new category</label>
        {{ categoryform.categories(class="custom-select") }}
      </div>

      <div class="form-group">
        <label>{{ categoryform.othercategory.label }} </label>
        {{ categoryform.othercategory(class="form-control", placeholder="Enter new category name, e.g Fishing")}}
        <div class="invalid-feedback d-block">
          <ul>
            {% for error in categoryform.othercategory.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-warning mb-2">Add category</button>
    </form>
      

    
  <div>

    <h3>Delete</h3>
    <h4>Warning! This action cannot be undone</h4>
  <form method="POST" action="{{ url_for('threads_delete', thread_id=thread.id) }}">
    
    <button type="submit" class="btn btn-danger">Delete Thread</button>
  </form>
  </div>


{% endblock %}