{% extends "listlayout.html" %}

{% block blocker %}
  <div class="page header">
    <h1>All threads </h1>
    
    <br>

  </div>
  <h3>Search</h3>
  <form method="POST" action="{{ url_for('threads_with_category') }}">
  <div class="form-group">
    <label> Select category</label>
    {{ categoryform.categories(class="custom-select") }}
    
    <button type="submit" class="btn btn-primary mb-2">Show</button>
  </div>
  
    
  </form>

  <form method="GET" action="{{ url_for('customsearch_open') }}">
    <div class="form-group">
    <button type="submit" class="btn btn-primary mb-2"> Custom search</button>
  </div>
  </form>
{% endblock %}