{% extends "layout.html" %}

{% block content %}
  <table>
    <tr>
      <th>Threads</th>
    </tr>
    {% for thread in threads %}
    <tr>
      <td>{{ thread.title }}</td>
      <td> POSTED: {{ thread.posted }}</td>
      <td> MODIFIED: {{ thread.modified }} </td>
      <td> 	
        <form method="GET" action="{{ url_for('threads_openedit', thread_id=thread.id) }}">
        <input type="submit" value="Edit this thread!"/>
      </form> </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}