{% extends "layout.html" %}

{% block content %}
  <div > 
    <h2> {{ thread.title }} </h2>
    Posted by: {{ user.username }} 
    <br>
    Posted: {{ thread.posted.strftime('%d.%m.%Y at %H.%M') }}
    <br>
    {% if thread.modified != None %}
    sssss
    Modified: {{ thread.modified.strftime('%d.%m.%Y at %H.%M') }}
    {% endif %}
    <br>
    <br>
    <p class="font-weight-bold">
      Description:
    </p>
    <p>
    {{ thread.description }}
    </p>
  </div>
  
  <h3> Comments </h3>
  <div>
  {% if not comments[0] %}
  <table>
    <tr>
      <td>
        There are no comments yet :(
      </td>
    </tr>
  </table>
  {% endif %}
  {% for comment in comments %}
  
  <table>
    <tr>
      <td> <strong> {{ comment.user.username }} &#8226; {{ comment.posted.strftime('%d.%m.%Y at %H.%M') }} </strong> </td>
      <br>
      
    </tr>
    <tr>
      <td> {{ comment.comment_text }}
        {% if admin %}
        <br>
        <form method="POST" action="{{ url_for('admin_comment_delete', comment_id=comment.id) }}">
          <div class="form-group">
            <br>
            <button type="submit" class="btn btn-danger">Delete comment</button>
          </div>
        </form>
        {% else %}
        {% if comment.user_id == current_user.id %}
        <br>
        <br>
        <form method="POST" action="{{ url_for('comment_delete', comment_id=comment.id) }}">
          <div class="form-group">
            <button type="submit" class="btn btn-danger pull-left">Delete</button>
          </div>
      {% endif %}
      {% endif %}
      {% if comment.user_id == current_user.id %}
    </form>
    <form method="GET" action="{{ url_for('comment_edit', comment_id=comment.id) }}">
      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">Edit</button>
      </div>
    </form>
    {% endif %}
      </td>
     
      
    </tr>
    </table>
  
  {% endfor %}
</div>
<br>
{% if current_user.is_authenticated %}
  <form method="POST" action="{{ url_for('threads_comment', thread_id=thread.id) }}">

      <div class="form group">
        <label >{{ form.comment.label }}</label>
        <ul>
          {% for error in form.comment.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {{ form.comment(class="form-control", rows="3", placeholder="Insert comment here")}}
      </div>
      <br>
      <button type="submit" class="btn btn-primary mb-2">Comment!</button>
  </form>
  {%endif%}
  
    
{% endblock %}